body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.centerDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.panel-image img.panel-image-preview {
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
}

#mapRow {
    overflow: hidden;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.osmSidebar {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1000;
}

#osmInfo {
    position: absolute;
    top: 20%;
    margin-bottom: 70px;
    right: 10px;
    width: 30%;
    max-height: 60%;
    background-color: #4f5d6b;
    z-index: 999;
    overflow: auto;
}

.not-active {
    pointer-events: none;
}

#editBarMenu {
    position: absolute;
    width: 80%;
    bottom: 0;
    left : 10%;
    height: 8%;
    border-radius: 10px 10px 0px 0px;
    background-color: #4f5d6b;
    z-index: 999;
}

#editMenu {
    position: absolute;
    right: 3%;
    left : 3%;
    height: 100%;
}

#editButtonChooseTool {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}
#editButtonChooseTool .btn {
    display:block;
    margin-top : 7px;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

#editButtonCancel {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}
#cancel{
    margin-top : 7px;
    border-radius: 10px 10px 10px 10px;
}
