body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.centerDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.panel-image img.panel-image-preview {
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
}

#mapRow {
    overflow: hidden;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}

.osmSidebar {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1000;
}

#osmSlider {
    position: absolute;
    top: 100px;
    bottom: 60px;
    height: 50%;
    left: 15px;
    z-index: 1001;
}


#osmInfo {
    position: absolute;
    top: 20%;
    right: 0;
    width: 25%;
    max-height: 60%;
    background-color: #4f5d6b;
    z-index: 999;
    overflow: auto;
    border-radius: 10px 0 0 10px;
}

.not-active {
    pointer-events: none;
}

#editBarMenu-part1 {
    position: absolute;
    width: 65%;
    bottom: 0;
    left : 5%;
    height: 8%;
    border-radius: 10px 0px 0px 0px;
    background-color: #4f5d6b;
    z-index: 999;
}
#editBarMenu-part2 {
    position: absolute;
    width: 20%;
    bottom: 0;
    left : 70%;
    height: 8%;
    border-radius: 0px 10px 0px 0px;
    background-color: #4f5d6b;
    z-index: 999;
}

#editBarMenu-part3 {
    position: absolute;
    width: 15%;
    bottom: 0;
    left : 85%;
    height: 8%;
    border-radius: 0px 10px 0px 0px;
    background-color: #4f5d6b;
    z-index: 999;
}


#editMenu {
    position: absolute;
    right: 3%;
    left : 3%;
    height: 100%;
}

#editButtonChooseTool {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}
#editButtonChooseTool .btn {
    display:block;
    margin-top : 7px;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

#editButtonCancel {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}
#cancel{
    margin-top : 7px;
    border-radius: 10px 10px 10px 10px;
}

#sliderSimulation{
    margin-top: 2%;
    width: 80%;
}

#custom-handle-simulation {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#timepicker {
    top : 5px;
    width: 100px;
    border-radius: 5px 5px 5px 10px;
}

#timepicker-glyphicon {
    width: 20%;
}

#timepicker-input {
    width: 80%;
}

#editBarMenu {
    position: absolute;
    width: 80%;
    bottom: 0;
    left : 10%;
    height: 8%;
    border-radius: 10px 10px 0px 0px;
    background-color: #4f5d6b;
    z-index: 999;
}

#editBarMenu .text-center{
    margin-top: 15px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}


@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}