swagger: '2.0'
info:
  title: Road-Concept API
  description: Aide à l'utilisation de l'API de Road-Concept
  version: "0.1"
# the domain of the service
host: a.determiner.fr
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /
produces:
  - application/json
paths:
  /maps:
    get:
      summary: Obtenir les cartes d'un utilisateur
      description: |
        Donne la liste des cartes d'un utilisateur, le fichier contient toutes les informations de base de chaques cartes.
      parameters:
        - name: username
          in: query
          description: Login du client
          required: true
          type: string
          format: username
        - name: password
          in: query
          description: Mot de passe du client
          required: true
          type: string
          format: password
      tags:
        - Maps
      responses:
        200:
          description: Un tableau de carte
          schema:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Nom de la carte
                id:
                  type: string
                  description: Id de la carte
                img_url:
                  type: string
                  description: URL de l'image associé à cette carte
                countryBorders:
                  type: boolean
                  description: L'utilisateur a-t-il demandé à avoir les frontières sur sa carte ?
        401:
          description: Une authentification est nécessaire pour accéder à la ressource.
          schema:
            $ref: '#/definitions/Error'
        400:
          description: La syntaxe de la requête est erronée.
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Créer une nouvelle carte
      description: |
        Permet de créer une nouvelle carte pour un utilisateur.
      parameters:
        - name: username
          in: formData
          description: Login du client
          required: true
          type: string
          format: username
        - name: password
          in: formData
          description: Mot de passe du client
          required: true
          type: string
          format: password
        - name: mapName
          in: formData
          description: Nom de la carte à créer
          required: true
          type: string
        - name: mapCountryBorder
          in: formData
          description: La map doit-elle contenir les frontières des pays ?
          required: true
          type: boolean
        - name: mapIMG
          in: formData
          required: false
          description: Une image optionnelle pour représenter la map.
          type: file
      tags:
        - Maps
      responses:
        201:
          description: Réponse de succés d'ajout. Le message contient l'ID de la nouvelle map.
          schema:
            $ref: "#/definitions/SuccessMsg"
        401:
          description: Une authentification est nécessaire pour accéder à la ressource.
          schema:
            $ref: '#/definitions/Error'
        400:
          description: La syntaxe de la requête est erronée.
          schema:
            $ref: '#/definitions/Error'

    put:
      summary: Modifier une carte.
      description: |
        Modification des informations d'une carte d'un utilisateur.
      parameters:
        - name: username
          in: formData
          description: Login du client
          required: true
          type: string
          format: username
        - name: password
          in: formData
          description: Mot de passe du client
          required: true
          type: string
          format: password
        - name: mapID
          in: formData
          description: L'ID de la map
          required: true
          type: string
        - name: mapName
          in: formData
          description: Nom à modifier de la carte
          required: false
          type: string
        - name: mapCountryBorder
          in: formData
          description: La map doit-elle contenir les frontières des pays ?
          required: false
          type: boolean
        - name: mapDeleteImg
          in: formData
          required: false
          description: Si il y avait une image personnalisée. Faut-il la supprimer ?
          type: boolean
        - name: mapIMG
          in: formData
          required: false
          description: Une image optionnelle pour représenter la map
          type: file
      tags:
        - Maps
      responses:
        200:
          description: Réponse de succés. La map a été modifiée.
          schema:
            $ref: "#/definitions/SuccessBool"
        401:
          description: Une authentification est nécessaire pour accéder à la ressource.
          schema:
            $ref: '#/definitions/Error'
        403:
          description: L'utilisateur n'est pas autorisé à modifier cette carte.
          schema:
            $ref: '#/definitions/Error'
        400:
          description: La syntaxe de la requête est erronée.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: L'ID de la carte n'existe pas.
          schema:
            $ref: '#/definitions/Error'

    delete:
      summary: Supprimer une carte
      description: |
        Supprime la carte d'un utilisateur.
      parameters:
        - name: username
          in: query
          description: Login du client
          required: true
          type: string
          format: username
        - name: password
          in: query
          description: Mot de passe du client
          required: true
          type: string
          format: password
        - name: mapID
          in: query
          description: L'ID de la map
          required: true
          type: string
      tags:
        - Maps
      responses:
        200:
          description: Réponse de succés. Map supprimé du serveur.
          schema:
            $ref: "#/definitions/SuccessBool"
        401:
          description: Une authentification est nécessaire pour accéder à la ressource.
          schema:
            $ref: '#/definitions/Error'
        403:
          description: L'utilisateur n'est pas autorisé à supprimer cette carte.
          schema:
            $ref: '#/definitions/Error'
        400:
          description: La syntaxe de la requête est erronée.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: L'ID de la carte n'existe pas.
          schema:
            $ref: '#/definitions/Error'
            
  /import:
    post:
      summary: Import de carte
      description: |
        Permet d'importer des cartes
      parameters:
        - name: username
          in: formData
          description: Login du client
          required: true
          type: string
          format: username
        - name: password
          in: formData
          description: Mot de passe du client
          required: true
          type: string
          format: password
        - name: mapID
          in: formData
          description: ID de la map dans lequelle importer ces données
          required: true
          type: string
        - name: mapFile
          in: formData
          required: true
          description: Fichier à importer
          type: file
        - name: type
          in: formData
          required: true
          description: Type de carte à importer (OSM, GoogleMap, ...). Pour le moment uniquement OSM.
          type: string
      tags:
        - Import
      responses:
        201:
          description: Réponse de succés d'ajout. La map a bien été importée.
          schema:
            $ref: "#/definitions/SuccessMsg"
        401:
          description: Une authentification est nécessaire pour accéder à la ressource.
          schema:
            $ref: '#/definitions/Error'
        400:
          description: La syntaxe de la requête est erronée.
          schema:
            $ref: '#/definitions/Error'
        403:
          description: L'utilisateur n'est pas autorisé à importer dans cette carte.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: L'ID de la carte n'existe pas.
          schema:
            $ref: '#/definitions/Error'

definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

  SuccessMsg:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  SuccessBool:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: boolean
