# Created by .ignore support plugin (hsz.mobi)

.idea/
mongodb/data
postgresql/data
certs/*.pem
nginx/buildData/frontend/
roadconcept/buildData/*.jar
NodeJS/buildData/main.js

*.log
/NodeJS/buildData/package.json
