<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="btn btn-success btn-block"
                   href="#simmap/<%= simuID %>/s/<%= samp %>/d/<%= simTime %>/m/<%= mapID %>"
                   id="returnToSimulationsView" data-toggle="tooltip" data-placement="bottom"
                   title="Retour à la simulation">Retour à la simulation</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider">
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
</div>