<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <button class="btn btn-success btn-block" id="importButton">Importer des données</button>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success btn-block" href="#editmap/<%= id %>" id="goEditionButton">Edition</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-block" href="#simmap" id="goSimulationButton">Simulation</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider">
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
</div>