<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="btn btn-success btn-block" href="#editmap/<%= id %>" id="goEditionButton"
                   data-toggle="tooltip" data-placement="bottom" title="Editez votre carte">Edition</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-success btn-block" href="#homeSimulation/<%= id %>" id="goSimulationButton"
                   data-toggle="tooltip" data-placement="bottom" title="Lancer une simulation sur cette carte">Simulation</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider" data-toggle="tooltip" data-placement="right" title="Opacité du fond de carte">
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
</div>