<form class="form-horizontal" style="margin: 4px;">
    <fieldset>

        <!-- Form Name -->
        <legend>Configuration des paramètres du lieu d'habitation</legend>

        <!-- Heure de départ-->
        <div class="form-group">
            <label class="control-label col-sm-2">Heure de départ</label>
            <div class="input-group date" id="datetimepicker1">
                <input type="time" value="08:00" id="startHour" class="form-control" />
            </div>
        </div>
        <!-- Nombre d'habitants-->
        <div class="form-group">
            <label class="control-label col-sm-2">Nombre d'habitants*</label>
            <div class="col-sm-10">
                <input type="number" min="1" max="1000" id="nbHabit" class="form-control" placeholder="ex : 150">
                <p class="help-block">de 1 à 1000</p>
            </div>
        </div>
        <!--Pourcentage de voitures-->
        <div class="form-group">
            <label class="control-label col-sm-2">Répartition</label>
            <div class="col-sm-10">
                <input type="range" id="carRepart" class="form-control">
                <p class="help-block" id="percentVal">50% de voitures - 50% de camions</p>
            </div>
        </div>

        <div class="alert alert-danger" id="alertEmptyHabitation" hidden>
            Tous les champs ne sont pas remplis !
        </div>

        <div class="form-group">
            <label class="control-label col-sm-12">* Champs obligatoires</label>
        </div>

        <!-- Envoi -->
        <div class="form-group">
            <div class="text-right col-sm-12">
                <button type="button" id="<%= id %>" name="" class="btn btn-success btn-block validModel" aria-label="">Enregistrer</button>
            </div>
        </div>

        <!-- Annuler -->
        <div class="form-group">
            <div class="text-right col-sm-12">
                <button type="button" id="removeRoad_<%= id %>" name="" class="btn btn-danger btn-block removeModel" aria-label="">Annuler</button>
            </div>
        </div>

    </fieldset>
</form>