<form class="form-horizontal" style="margin: 4px;">
    <fieldset>


        <!-- change col-sm-N to reflect how you would like your column spacing (http://getbootstrap.com/css/#forms-control-sizes) -->


        <!-- Form Name -->
        <legend>Modification des paramètres du feu</legend>


        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="redName" class="control-label col-sm-2">Nom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="redName" placeholder="Nom du feu" required="" value="<%= name %>">

            </div>
        </div>

        <div class="form-group">
            <label for="redlightT" class="control-label col-sm-2">Durée d'un état du feu</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="redlightT" placeholder="Temps" required="" value="<%= redlighttime %>">
                <p class="help-block">en seconde</p>
            </div>
        </div>

        <div class="form-group">
            <div class="text-right col-sm-12">
                <button type="button" id="<%= id %>" name="" class="btn btn-success btn-block validModel" aria-label="">Valider</button>

            </div>
        </div>

        <div class="form-group">
            <div class="text-right col-sm-12">
                <button type="button" id="removeRoad_<%= id %>" name="" class="btn btn-danger btn-block removeModel" aria-label="">Annuler</button>

            </div>
        </div>

    </fieldset>
</form>