<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <button class="btn btn-info btn-block dropdown-toggle" id="osmButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Opacité OSM<span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header"><input id="osmOppacity" type="range" min="0" max="1" step="0.1" value="0.3"/></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
    <div id="editBarMenu">
        <div class="center-block" id="sliderSimulation">
            <div id="custom-handle-simulation" class="ui-slider-handle"></div>
        </div>
    </div>
    <div id="modalAvertissementSimulation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Avertissement !</h4>
                </div>
                <div class="modal-body">
                    <p>Cette page de simulation n'est qu'un exemple de résultat. Il ne s'agit pas d'une simulation réalisée à l'aide du moteur. Les voitures ont été placées de manière aléatoire sur le carte. La taille des voitures n'est pas proportionnelle à la route. Il s'agit avant tout d'avoir un petit aperçu d'un résultat de simulation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Je comprends qu'il ne s'agit que d'un exemple.</button>
                </div>
            </div>

        </div>
    </div>
</div>