<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="btn btn-success btn-block" href="#homeSimulation/<%= mapID %>" id="returnToSimulations" data-toggle="tooltip" data-placement="bottom" title="Voir la liste de toutes les simulations">Retour aux simulations</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider">
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
    <div id="editBarMenu-part1">
        <div class="center-block" id="sliderSimulation">
            <div id="custom-handle-simulation" class="ui-slider-handle"></div>
        </div>
    </div>
    <div id="editBarMenu-part2">

        <div id="timePickerDiv">
            <div class="input-group bootstrap-timepicker timepicker">
                <input id="timepicker" type="text" class="form-control input-small">
            </div>

        </div>
    </div>
    <div id="editBarMenu-part3">
        <button class="btn-lg btn-success" id="nextSimuSnapshot" data-toggle="tooltip" data-placement="top" title="Passer au prochain snapshot de simulation"><span class="glyphicon glyphicon-forward"></span></button>
    </div>


    <div id="modalAvertissementSimulation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Avertissement !</h4>
                </div>
                <div class="modal-body">
                    <p>Cette page de simulation n'est qu'un exemple de résultat. Il ne s'agit pas d'une simulation réalisée à l'aide du moteur. Les voitures ont été placées de manière aléatoire sur le carte. La taille des voitures n'est pas proportionnelle à la route. Il s'agit avant tout d'avoir un petit aperçu d'un résultat de simulation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Je comprends qu'il ne s'agit que d'un exemple.</button>
                </div>
            </div>

        </div>
    </div>
</div>