<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Supprimer ?</h4>
        </div>
        <div class="modal-body">
            <p>Etes vous sur de vouloir supprimer la carte "<%= name %>" ? Cette opération n'est pas réversible !</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-success remove_map_confirm" id="confirmRemoveMap_<%= id %>">Supprimer</button>
        </div>
    </div>

</div>