<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="alert alert-success hidden" id="modalRemoveMapViewSuccess">
        </div>
        <div class="alert alert-danger hidden" id="modalRemoveMapViewDanger">
        </div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Supprimer ?</h4>
        </div>
        <div class="modal-body">
            <p>Etes vous sur de vouloir supprimer la simulation "<%= name %>" ? Cette opération n'est pas réversible
                !</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger remove_simu_confirm" id="confirmRemoveSimu_<%= uuid %>">
                Supprimer
            </button>
        </div>
    </div>

</div>