<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RoadConcept</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Cartes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= firstName %> <%= lastName %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#user">Mon compte</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>