<div class="row">
    <div class='page-header'>
        <h1>
            <span>Mes simulations</span>
            <button class='btn btn-success pull-right'>Démarrer une nouvelle simulation
            </button>
        </h1>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
            <th>
                [HEADER]
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>