<div class="row">
    <div class="page-header">
        <h1>
            <span>Mes simulations</span>
            <a class="btn btn-success pull-right" href="#simulationCreation/<%= id %>">Démarrer une nouvelle
                simulation</a>
        </h1>
    </div>
</div>
<div class="row">
    <h2>
        <span>Mes simulations terminées</span>
    </h2>
</div>
<div class="row">
    <table class="table table-hover hidden" id="tableOverSimulation">
        <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Date de la simulation
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody id="overSimulationTable">

        </tbody>
    </table>
</div>
<div class="row" id="noOverSimulation">
    <p>Aucune simulation n'est terminée</p>
</div>
<div class="row">
    <h2>
        <span>Mes simulations en cours d'éxécution</span>
    </h2>
</div>
<div class="row">
    <table class="table table-hover hidden" id="tableInProgressSimulation">
        <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Date de la simulation
            </th>
            <th>
                En cours
            </th>
        </tr>
        </thead>
        <tbody id="inProgressSimulationTable">
        </tbody>
    </table>
</div>
<div class="row" id="noInProgressSimulation">
    <p>Aucune simulation n'est en cours d'éxécution</p>
</div>