<div id="mapRow" class="" xmlns="http://www.w3.org/1999/html">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="btn btn-danger btn-block" href="#homeSimulation/<%= id %>" data-toggle="tooltip" data-placement="bottom" title="Revenir à la liste des simulations">Annuler</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider">
        </div>
    </div>
    <div id="osmInfo">
    </div>
    <div style="background-color: white" id="map"></div>
    <div id="editBarMenu" class="col-md-12">
        <div id="editButtonChooseTool" class=" btn-group-lg" role="group">
            <div class="col-md-1 col-md-offset-0 ">
                <div id="divPrevious" hidden>
                    <button id="previous" class="btn btn-default btn-block" data-toggle="tooltip" data-placement="top" title="Précédent" ><span class="glyphicon glyphicon-share-alt"></span></button>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-0 ">
                <div id="habitZone" class="text-center" data-toggle="tooltip" data-placement="top" title="Un simple clic sur une route pour la créée">Veuillez placer votre zone d'habitation</div>
                <div id="habitZoneParam" class="text-center" data-toggle="tooltip" data-placement="top" title="Tous les champs doivent être renseignés" hidden>Veuillez renseigner les paramètres de votre zone d'habitation</div>
                <div id="workZone" class="text-center" data-toggle="tooltip" data-placement="top" title="Un simple clic sur une route pour la créée" hidden>Veuillez placer votre zone de travail</div>
                <div id="workZoneParam" class="text-center" data-toggle="tooltip" data-placement="top" title="Tous les champs doivent être renseignés" hidden>Veuillez renseigner les paramètres de votre zone de travail</div>
                <button id="startSim" class="btn btn-default btn-block" data-toggle="tooltip" data-placement="top" title="Lancer la simulation"><span class="glyphicon glyphicon-play"></span>   Lancer</button>
            </div>
        </div>
    </div>
    <div id="modalAvertissementSimulation" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Création d'une nouvelle simulation</h4>
                </div>
                <div class="modal-body">
                    <p>Bienvenue dans la page de création de votre nouvelle simulation!</p>
                    <p>Il vous sera demandé dans un premier temps, de créer une zone d'habitation et y renseigner les paramètres suivant :
                       <ul>
                            <li>Nombre d'habitants de la zone</li>
                            <li>Heure de départ</li>
                       </ul>
                    </p>
                    <p>Vous devrez ensuite créer une zone de travail et y renseigner le paramètre suivant :
                        <ul>
                            <li>Heure de retour</li>
                        </ul>
                    </p>
                    <p>Une fois ces étapes passées, il vous sera changer de nouveau les paramètres de vos deux zones et/ou de lancer la simulation.</p>
                </div>
                <div class="modal-footer">
                    <button id="ready" type="button" class="btn btn-success" data-dismiss="modal">Je suis prêt !</button>
                </div>
            </div>

        </div>
    </div>

</div>