<div class="row">
    <div class='page-header'>
        <div class="alert alert-success hidden" id="adminManaUsersViewSuccess">
        </div>
        <div class="alert alert-danger hidden" id="adminManaUsersViewDanger">
        </div>
        <h1>
            <span>Gestion des utilisateurs</span>
            <a class='btn btn-success pull-right' href="#admin">Créer un utilisateur
            </a>
        </h1>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="userTable">
        </tbody>
    </table>

</div>
<div id="Modal"></div>
