<div id="mapRow" class="">
    <div class="osmSidebar">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="btn btn-success btn-block"
                   href="#simmap/<%= simuID %>/s/<%= samp %>/d/<%= simTime %>/m/<%= mapID %>"
                   id="returnToSimulationsView" data-toggle="tooltip" data-placement="bottom"
                   title="Retour à la simulation">Retour</a>
            </div>
        </div>
    </div>
    <div id="divPourSlier">
        <div id="osmSlider">
        </div>
    </div>
    <div id="osmInfo">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Statistiques du véhicule</h4></div>
            <div id="waitIcon" hidden>
                <img src="assets/svg/wait.svg" style="display:block; margin:auto; width: 30%; height: 30%"/>
            </div>
            <div class="panel-body">
                <div class="list-group" id="listInfoMap">
                    <h4 class="list-group-item list-group-item-info">Vitesse moyenne</h4>
                    <p class="list-group-item" id="averageSpeed"></p>
                    <h4 class="list-group-item list-group-item-info">Temps total de trajet</h4>
                    <p class="list-group-item" id="duration"></p>
                    <h4 class="list-group-item list-group-item-info">Distance totale parcourue</h4>
                    <p class="list-group-item" id="distanceDone"></p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white" id="map"></div>
</div>